<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>312794782466-kq4j7j27uc02sjp3ra5r77ahpcgf4ju6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.312794782466-kq4j7j27uc02sjp3ra5r77ahpcgf4ju6</string>
	<key>API_KEY</key>
	<string>AIzaSyAGtKRtqrG3--BYaG6oQr7uo0_4E_jUpMY</string>
	<key>GCM_SENDER_ID</key>
	<string>312794782466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alipro</string>
	<key>PROJECT_ID</key>
	<string>alipro-29dec</string>
	<key>STORAGE_BUCKET</key>
	<string>alipro-29dec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312794782466:ios:1d527f381fff6b8a11001b</string>
</dict>
</plist>